- var title = locals.menu.items[locals.menu.indexCurrent].titleFull
doctype
html(lang="ru")
	head
		title= 'Академия робототехники ОПТИМУС | ' + title
		meta(charset="UTF-8")
		meta(name="description", content="Академия робототехники Оптимус")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		<!-- jquery -->
		script(src="/lib/jquery/jquery-2.2.3.min.js")
		
		<!-- bootstrap -->
		script(src="/lib/bootstrap/bootstrap.min.js")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/bootstrap-theme.css")

		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/news.css")
		script(src="/js/news.js")
	body
		div.container
			nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
				div.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-main")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand  
						span.part1 Академия робототехники 
						span.part2 "ОПТИМУС" 
				div#navbar-collapse-main.collapse.navbar-collapse
					include includes/top_menu.pug
			div.news
				h2= title
				if locals.news.length === 0 
					p(style="text-align:center; font-size: 18px; color: #fff") Скоро здесь что-то появится!
				each val in locals.news
					section
						div.news-date= val.date_published
						h3.news-link(news-id= val.id)= val.title
						p= val.text_short
							span.news-link(news-id= val.id) Читать дальше
		div#popup-window
			div.popup-header
				div.popup-close закрыть
			div.popup-content
		include includes/analytics.pug