doctype
html(lang="ru")
	head
		include includes/admin_head_common.pug	
		script(src="/js/admin/news_all.js")
	body
		div.container-fluid
			include includes/admin_navbar.pug
			include includes/admin_menu_col.pug
			div.breadcrubms
				//- var i = 0
				//- var len = locals.breadcrumbs.length
				//each val in locals.breadcrumbs
					a(href=""+val.href)= val.title
					if i < len - 1 
						span /
					- i++
			div.right-col.content
				div.message(class="msg-"+locals.messageType)= locals.message
				div.control-row
					div.icon.i-add
					a#news-add(href="/admin/news/create") Добавить новость
				each val in locals.news
					section.news-item(news-id='' + val.id)
						table.news-table
							tr
								td.news-img
									img(src="/img/no-photo.png")
								td.news-content
									h2= val.title
										if val.date_published
											span.published &nbsp;(опубликована)
										else 
											span.not-published &nbsp;(не опубликована)	
									div.news-date
										div.news-date-created=  'Дата создания: ' + val.date_created
										-  var datePublished = (val.date_published) ? 'Дата публикации: ' + val.date_published : '';
										div.news-date-published= datePublished
									div.news-short-desc= val.text_short
									ul.news-actions
										li
											div.news-edit.icon.i-edit
										li
											div.news-delete.icon.i-delete
					div.news-restore(news-restore-id='' + val.id) Новость удалена.
						a Восстановить
				if parseInt(locals.pagination.totalPages) > 0
					ul.pagination
						li.prev &larr; Предыдущая
						-
							var pages = [];
							for (var i = 1; i <= locals.pagination.totalPages; i++) {
								if (i === parseInt(locals.pagination.currentPage)) {
									pages.push({num: i, isCurrent: true});	
								} else {
									pages.push({num: i, isCurrent: false});
								}
							}
						each page in pages
							if page.isCurrent 
								li.current.num= page.num
							else
								li.num= page.num
						li.next Следующая &rarr;
				